*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	overflow:hidden;
}

html,
body{
	width:100%;
	height:100vh;
	background:#a2a7ad;
	font-family:Arial, Helvetica, sans-serif;
}


.navbar{
	position:absolute;
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:80%;
	margin:41px 159px;
	z-index:1;
}

.logo,
.search{
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
}

.search{
	padding:10px 48px;
}

.images{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:flex;
	z-index:1;
}

.img{
	width:140px;
	height:300px;
	margin:40px;
	cursor:pointer;
}

.images .img:hover{
	filter: brightness(0.5);
}

.img-1{
	transform:scale(1.1);
	background:url(images/img-1.jpg) 50% 50% no-repeat;
	background-size:cover;
}

.img-2{
	transform:scale(1.1);
	background:url(images/img-2.jpg) 50% 50% no-repeat;
	background-size:cover;
}

.img-3{
	transform:scale(1.1);
	background:url(images/img-3.jpg) 50% 50% no-repeat;
	background-size:cover;
}

.img-4{
	transform:scale(1.1);
	background:url(images/img-4.jpg) 50% 50% no-repeat;
	background-size:cover;
}

.img-5{
	transform:scale(1.1);
	background:url(images/img-5.jpg) 50% 50% no-repeat;
	background-size:cover;
}

.title span{
	position:absolute;
	font-size:77px;
	text-transform:uppercase;
	color:#fff;
	top:40%;
	font-weight:bolder;
	left:170px;
	letter-spacing:50px;
	z-index:2;
}

.side-icon{
	display:flex;
	position:absolute;
	top:45%;
	justify-content:space-between;
	width:100%;
	padding:40px;
	font-size:40px;
}

.bottom-bar{
	position:absolute;
	bottom:40px;
	width:100%;
	margin:20px auto;
	display:flex;
	justify-content:space-around;
	color:#000;
	text-transform:uppercase;
	letter-spacing:4px;
}

.media ul{
	list-style:none;
	position:fixed;
	right:41px;
	top:65%;
	padding:10px 10px;
}

.media ul li{
	font-size:18px;
	margin:24px;
}