* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

body{
    background: #a4a4a4;
    overflow: hidden;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.container .header:before{
    content: "VULPES";
    position: absolute;
    top: 58%;
    left: 57%;
    color: black;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: 5px;
    opacity: 0.1;
    z-index: -1;
}

.container .header i{
    color: black;
    cursor: pointer;
}
 
.container .header p{
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.container .header .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .header .logo .logo-two{
    height: 3px;
}
.container .header .line{
    display: block;
    width: 45px;
    height: 2px;
    background-color: black;
    margin-bottom: 4px;
    margin-right: 4px;
}

/* ROW-SECTION */

.container .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.container .row .col-2 h1{
    color: red;
    font-size: 41px;
    line-height: 60px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin: 25px 0;
    box-shadow: 11px 11px 10px;
}

.container .row .col-2 p{
    color: black;
    font-size: 14px;
    line-height: 30px;
}

.container .row .col-2 .btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    background-color: #E0484B;
    border-radius: 35px;
    margin-top: 45px;
    font-weight: bold;
    font-size: 15px;
    transition: 1s all ease;
}

.container .row .col-2 .btn:hover{
    background-color: #7a191b;
}

/* RING-SECTION */

.col-2 .ring img{
    width: 90%;
    max-width: 580px;
margin-left:5%;
}

#circle-ring{
    padding-left: 130px;
    padding-top: 60px;
}

.col-2 .ring{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
    z-index: -1;
}

.col-2 .ring:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid red;
    border-right: 3px solid red;
    border-radius: 50%;
    z-index: -1;
    animation: returnCircle 10s linear infinite;
}

.col-2 .ring .circle{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    z-index: -1;
    animation: return 10s linear infinite;
}

.col-2 .ring .circle:before{
    content: "";
    position: absolute;
    top: -6px;
    right: -9px;
    width: 16px;
    height: 16px;
    background:red;
    border-radius: 50%;
       box-shadow: 0 0 80px #b91414;
    z-index: -1;
}

.col-2 .ring-two{
    position: absolute;
    top: 13%;
    left: 56%;
    width: 500px;
    height: 500px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
}

.col-2 .ring-two:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    border-radius: 50%;
    animation: returnCircle2 10s linear infinite;
}

.col-2 .ring-two .circle-two{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: return2 10s linear infinite;
}

.col-2 .ring-two .circle-two:before{
    content: "";
    position: absolute;
    top: -6px;
    right: -8px;
    width: 16px;
    height: 16px;
    background: red;
    box-shadow: 0 0 80px #b91414;
    border-radius: 50%;
}



@keyframes returnCircle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}


@keyframes return {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(405deg);
    }
    
}


@keyframes returnCircle2 {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(-405deg);
    }
    
}


@keyframes return2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
    
}